{{page-title "CreateDepartment"}}
<form onsubmit={{action "createDepartment"}}>
  <div>
    <label class="form-label" for="departmentName">Department Name</label>
    <Input class="form-control" id="departmentName" @value={{this.departmentName}} />
  </div>

  <button  class="btn btn-primary mt-3" type="submit">Create</button>
</form>
{{outlet}}